 <div class="sidebar">
                            <div class="side">
                                <h2>Danh mục</h2>
                                <!--  <ul>
                                    <li><a href="#">Cập nhật thông tin </a> </li>
                                    <li><a href="#">Quản lý đơn hàng </a></li>
                                    <li><a href="#">Danh sách mua hàng </a></li>
                                </ul> -->
                                <ul class="nav nav-pills nav-stacked" id="menu-nav">
                                    <li role="presentation" class="active"><a href="/profile">Cập nhật thông tin</a></li>
                                    <li role="presentation"><a href="/list-orders">Quản lý đơn hàng</a></li>
                                    <li role="presentation"><a href="/history-orders">Lịch sử mua hàng</a></li>
                                </ul>
                            </div>
                        </div>