 <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="colorlib-logo"><a href="/member">Store</a></div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="search">
                                        <span class="input-group-addon"><a id="search-btn" href="/search"><i class="icon-search"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;">
                                    <ul>
                                        <li><a href="/cart"><i class="icon-shopping-cart"> </i> Giỏ hàng</a> </li>
                                        <li class="has-dropdown">
                                            <a href="/profile"><i class="icon-user"></i>Thuy Trang</a>
                                            <ul class="dropdown">
                                                <li><a href="/profile">Profile</a></li>
                                                <li><a href="/list-orders"> Đơn hàng </a></li>
                                                <li><a href="/"> Đăng xuất </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </nav>