<!DOCTYPE HTML>
<html>

<head>
    {{>head}}
</head>

<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        {{>nav}}
        {{>menu}}
        <br></br>
        <div class="colorlib-shop">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="row row-pb-lg">
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/aldo-1-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$199.00</span> <span class="sale">$300.00</span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/naza-1-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/naza-5-1.jpg);">
                                        <p class="tag"><span class="new">New</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/aldo-2-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/naza-4-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/mr-ace-homme-3-1.jpg);">
                                        <p class="tag"><span class="new">New</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/mr-ace-homme-1-1.jpg);">
                                        <p class="tag"><span class="new">New</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/neo-bag-2-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/nine-west-1-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/naza-3-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/neo-bag-3-1.jpg);">
                                        <p class="tag"><span class="new">New</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/mr-ace-homme-4-1.jpg);">
                                        <p class="tag"><span class="new">New</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                                
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/shop">Floral Dress</a></h3>
                                        <p class="price"><span>$300.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="pagination">
                                    <li class="disabled"><a href="/shop">&laquo;</a></li>
                                    <li class="active"><a href="/shop">1</a></li>
                                    <li><a href="/shop">2</a></li>
                                    <li><a href="/shop">3</a></li>
                                    <li><a href="/shop">4</a></li>
                                    <li><a href="/shop">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-pull-9">
                        <div class="sidebar">
                            <div class="side">
                                <h2>Danh mục</h2>
                                <div class="fancy-collapse-panel">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                             <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Balo
                                             </a>
                                         </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li><a href="/shop">Balo Nam</a></li>
                                                        <li><a href="/shop">Balo Nữ</a></li>
                                                        <li><a href="/shop">Balo du lịch, phượt</a></li>
                                                        <li><a href="/shop">Balo đựng laptop</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Túi sách
                                             </a>
                                         </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li><a href="/shop">Túi sách tay Nữ</a></li>
                                                        <li><a href="/shop">Túi đeo chéo nữ</a></li>
                                                        <li><a href="/shop">Ví, bóp Nữ</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side">
                                <h2>THƯƠNG HIỆU</h2>
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/shop">Naza</a></li>
                                        <li><a href="/shop">Neo Bag</a></li>
                                        <li><a href="/shop">Aldo</a></li>
                                        <li><a href="/shop">Nine West</a></li>
                                        <li><a href="/shop">Mr Ace Homme</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-9">
                            <input class="form-control" id="email" type="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" id="password" type="password">
                            </br>
                            <span>Nếu bạn chưa có có tài khoản. <a href="/sign-up">Đăng ký</a></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="sign-in-btn" onclick="SignIn()"> Sign in </button>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-subscribe">
        <div class="overlay"></div>
    </div>
    {{>footer}}
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    
    <script>
        // document.getElementById('search-btn').style.visibility='hidden';

        var input = document.getElementById("search");
        input.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("search-btn").click();
            }
        });

        var input = document.getElementById("password");
        input.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("sign-in-btn").click();
            }
        });
        function SignIn(){
            window.location.href="/member";
        }
</script>
    
    {{> footerjs}}

    </body>
</html>