<!DOCTYPE HTML>
<html>

<head>
{{> head}}
</head>

<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        {{> nav-member}}
        {{> menu}}
        <br></br>
        <div class="colorlib-shop">
            <div class="container">
                <div class="row row-pb-lg">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="process-wrap">
                            <div class="process text-center active">
                                <p><span>01</span></p>
                                <h3>Shopping Cart</h3>
                            </div>
                            <div class="process text-center active">
                                <p><span>02</span></p>
                                <h3>Checkout</h3>
                            </div>
                            <div class="process text-center active">
                                <p><span>03</span></p>
                                <h3>Order Complete</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <span class="icon"><i class="icon-shopping-cart"></i></span>
                        <h2>Thank you for purchasing, Your order is complete</h2>
                        <p>
                            <a href="/" class="btn btn-primary">Home</a>
                            <a href="/shop" class="btn btn-primary btn-outline">Continue Shopping</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="colorlib-subscribe">
            <div class="overlay"></div>
        </div>
        {{> footer}}
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<script>
		// document.getElementById('search-btn').style.visibility='hidden';

		var input = document.getElementById("search");
		input.addEventListener("keyup", function(event) {
		    event.preventDefault();
		    if (event.keyCode === 13) {
		        document.getElementById("search-btn").click();
		    }
		});
</script>
	
	{{> footerjs}}
	</body>
</html>