<aside>
            <div class="row" id="menu">
                <div class="col-md-2 col-md-offset-1">
                    <a href="/shop"><strong> SẢN PHẨM </strong></a>
                </div>
                <div class="col-md-2">
                    <a href="/shop"><strong> THƯƠNG HIỆU </strong></a>
                </div>
                <div class="col-md-2">
                    <a href="/shop"><strong> SẢN PHẨM MỚI NHẤT</strong> </a>
                </div>
                <div class="col-md-2">
                    <a href="/shop"><strong> SẢN PHẨM BÁN CHẠY </strong></a>
                </div>
                <div class="col-md-2">
                    <a href="/shop"><strong> SẢN PHẨM XEM NHIỀU</strong></a>
                </div>
            </div>
        </aside>