<nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="colorlib-logo"><a href="/">Store</a></div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="search">
                                        <span class="input-group-addon"><a id="search-btn" href="/search"><i class="icon-search"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li> <a href="/cart"><i class="icon-shopping-cart"> </i> Giỏ hàng</a></li>
                                        <li> <a href="#" data-toggle="modal" data-target="#sign-in"><i class="icon-user" ></i>Đăng nhập</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>